<form>
    <div style="text-align: center;">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 selector" style="margin: 10px 0px 10px 0px;">       
                <button id="btn-status" type="button" style="min-width: 125px;" class="btn btn-conta dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha o Estado da Conta</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu conta">
                    <li><a href="#">Active</a></li>
                    <li><a href="#">Disconnected</a></li>
                    <li><a href="#">Cancelled</a></li>
                </ul>
            </div>
        </div>    
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 selector">   
                <button id="btn-grp" style="min-width: 125px;" type="button" class="btn btn-conta dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha o Grupo Produtos</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu conta">
                    <li><a href="#">Access</a></li>
                    <li><a href="#">Commercial</a></li>
                    <li><a href="#">Compact</a></li>
                </ul>
            </div>
        </div>    
        <div class="row produtos-menu-title hidden">
            <div class="col-lg-12 col-md-12 col-sm-12 selector" style="margin: 10px 0px 10px 0px;">   
                <button id="btn-produto" style="min-width: 125px;" type="button" class="btn btn-conta dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha o Produto</span> <span class="caret"></span>
                </button>
                <ul id="produtos-menu" class="dropdown-menu conta">                   
                </ul>
            </div>
        </div>   
         
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-conta" type="button" id="btn_search_contas"><i class="glyphicon glyphicon-search"></i>  Pesquisar</button>
                    <button class="btn btn-conta" type="button" id="btn_clear_contas"><i class="glyphicon glyphicon-trash"></i>  Limpar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="legendas" class="col-lg-12 col-md-12 col-sm-12">
                <div class="side-5">Legenda</div>
                <ul>
                    <li><span class="icon"><img src="assets/icons/yellow_dot.png" alt="Icon GOTv"></span> - <span class="text">GOTv (Gomagaiver)</span></li>
                    <li><span class="icon"><img src="assets/icons/yellow_dot_alt.png" alt="Icon DSTv"></span> - <span class="text">DSTv (Instalador)</span></li>
                </ul>
            </div>
        </div>
    </div>
</form>