<!DOCTYPE html>
<html>
    <head>
        <title>Multichoice - Erro!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../js/vendor/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="../css/cover.css"/>
    </head>
    <body class="erro">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand"></h3>
                        </div>
                    </div>
                    <div class="inner cover">
                        <img alt="logo" src="../assets/mc-logo.png">
                        