<form>
    <div style="text-align: center;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 selector" style="margin: 10px 0px 10px 0px;">       
                <button id="btn-marca" type="button" style="min-width: 125px;" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha a Marca</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu inst">
                    <li><a href="#">Tudo</a></li>
                    <li><a href="#">GOTv/DSTv</a></li>
                    <li><a href="#">GOTv</a></li>
                    <li><a href="#">DSTv</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 selector" >   
                <button id="btn-categoria" style="min-width: 125px;" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha a Categoria</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu inst">
                    <li><a href="#">Sénior</a></li>
                    <li><a href="#">Médio</a></li>
                    <li><a href="#">Júnior</a></li>
                    <li><a href="#">Iniciado</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-warning" type="button" id="btn_search_instaladores"><i class="glyphicon glyphicon-search"></i>  Pesquisar</button>
                    <button class="btn btn-warning" type="button" id="btn_clear_instaladores"><i class="glyphicon glyphicon-trash"></i>  Limpar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="legendas" class="col-lg-12 col-md-12 col-sm-12">
                <div class="side-5">Legenda</div>
                <ul>
                    <li><span class="icon"><img src="/assets/icons/yellow_dot.png" alt="Icon GOTv"></span> - <span class="text">GOTv (Gomagaiver)</span></li>
                    <li><span class="icon"><img src="/assets/icons/yellow_dot_alt.png" alt="Icon DSTv"></span> - <span class="text">DSTv (Instalador)</span></li>
                </ul>
            </div>
        </div>
    </div>
</form>