<div style="text-align: center;">
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
            Escolher Marca <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">GOTv</a></li>
            <li><a href="#">DSTv</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
            Escolher Categoria <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Sénior</a></li>
            <li><a href="#">Médio</a></li>
            <li><a href="#">Júnior</a></li>
            <li><a href="#">Iniciado</a></li>
        </ul>
    </div>
    <div class="btn-group" style="margin: 0 auto;" role="group" aria-label="...">
        <button class="btn btn-warning" type="button" id="btn_search_instaladores"><i class="glyphicon glyphicon-search"></i>  Pesquisar</button>
        <button class="btn btn-warning" type="button" id="btn_clear_instaladores"><i class="glyphicon glyphicon-trash"></i>  Limpar</button>
    </div>
</div>