<form>
    <div style="text-align: center;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 selector" style="margin: 10px 0px 10px 0px;">   
                <button id="btn-subtipo" style="min-width: 125px;" type="button" class="btn btn-indi dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha o Subtipo</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu indi">
                    <li><a href="#">Agentes</a></li>
                    <li><a href="#">Direct Sales MD</a></li>
                    <li><a href="#">Formal Retail Group</a></li>
                    <li><a href="#">Indirect Branded</a></li>
                    <li><a href="#">Informal Retail</a></li>
                    <li><a href="#">Moms and Pops</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 selector">       
                <button id="btn-marca" type="button" style="min-width: 125px;" class="btn btn-indi dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    <span class="btn-text">Escolha a Marca</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu indi">
                    <li><a href="#">Tudo</a></li>
                    <li><a href="#">GOTv/DSTv</a></li>
                    <li><a href="#">GOTv</a></li>
                    <li><a href="#">DSTv</a></li>
                </ul>
            </div>
        </div>       
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-indi" type="button" id="btn_search_indi"><i class="glyphicon glyphicon-search"></i>  Pesquisar</button>
                    <button class="btn btn-indi" type="button" id="btn_clear_indi"><i class="glyphicon glyphicon-trash"></i>  Limpar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="legendas" class="col-lg-12 col-md-12 col-sm-12" style="margin-top:5px;">
                <div class="side-6">Legenda</div>
                <ul>
                    <li><span class="icon"><img src="assets/icons/green_dot.png" alt="Icon GOTv"></span> - <span class="text">GOTv</span></li>
                    <li><span class="icon"><img src="assets/icons/green_dot_alt.png" alt="Icon DSTv"></span> - <span class="text">DSTv</span></li>
                </ul>
            </div>
        </div>
    </div>
</form>